.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  position: relative;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  margin: 0;
  font-size: 24px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #007bff;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #ddd;
}

p {
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  justify-items: center;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-name {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.product-price {
  font-size: 16px;
  color: #007bff;
}

.buy-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.buy-button:hover {
  background-color: #218838;
}
